<footer>
		<div class="wrapper">
			<div class="column">
				<h2 class="subject">About us</h2>
				<ul>
					<li>Blog</li>
					<li>Press</li>
					<li>FAQs & Contact</li>
				</ul>
			</div>
			<div class="column">
				<h2 class="subject">Get involved</h2>
				<ul>
					<li>Careers</li>
					<li>Donate</li>
					<li>Etsy</li>
				</ul>
			</div>
			<div class="column">
				<h2 class="subject">Stay Connected</h2>
				<i class="fa fa-facebook"></i>
				<i class="fa fa-instagram"></i>
				<i class="fa fa-twitter"></i>
			</div>
			<div class="column">
				<h2 class="subject">Sign up for our newsletter</h2>
				<input type="text" class="email-signup" placeholder="Enter your email address.." required>
				<button type="submit">JOIN</button>
			</div>
		</div>
	</footer>
