<!-- build an intro copy  WHAT IS THIS?????-->

<!-- build a grid of of items. 3 items in each row, each item has an image a title  and links to another page which will be a product detail page -->
<!-- use this as reference -->
<!-- https://red.org/red-products/ -->
<!-- <div class="grid">
  <h1 class="darkaqua subject-header">Handmade Pieces</h1>
  <div class="grid-container">
    <a href ="#0" class="grid-item" style="background:url(img/pottery6.jpg) center center no-repeat;background-size:cover;">
      <div class="overlay"></div>
      <h2>View Collection</h2>
    </a>
    <a href ="#0" class="grid-item" style="background:url(img/pottery4.jpg) center center no-repeat;background-size:cover;">
      <div class="overlay"></div>
      <h2>View Collection</h2>
    </a>
    <a href ="#0" class="grid-item" style="background:url(img/pottery5.jpg) center center no-repeat;background-size:cover;">
      <div class="overlay"></div>
      <h2>View Collection</h2>
    </a>
    <a href ="#0" class="grid-item" style="background:url(img/pottery8.jpg) center center no-repeat;background-size:cover;">
      <div class="overlay"></div>
      <h2>View Collection</h2>
    </a>
    <a href ="#0" class="grid-item" style="background:url(img/pottery9.jpg) center center no-repeat;background-size:cover;">
      <div class="overlay"></div>
      <h2>View Collection</h2>
    </a>
    <a href ="#0" class="grid-item" style="background:url(img/pottery7.jpg) center center no-repeat;background-size:cover;">
      <div class="overlay"></div>
      <h2>View Collection</h2>
    </a>
  </div>
</div> -->
