<header>
  <div class="header__overlay"></div>
  <div class="header__hamburger-menu">
    <div class="header__interactive-menu-button-wrapper">
      <a href="#" class="interactive-menu-button"><span></span></a>
    </div>
  </div>
  <div class="header__title">
    <h2><a href="/">Black</a></h2>
    <!-- <div class="header__logo"> -->
      <span><a href="/"><img src="https://s3-us-west-2.amazonaws.com/blackrabbitconsulting/images/logo.png"></a></span>
    <!-- </div> -->
    <h2><a href="/">Rabbit</a></h2>
    <h3><a href="/">Consulting</a></h3>
  </div>
  <div class="header__contact-info">
    <p>colbyhayden@BlackRabbitConsulting.com</p>
  </div>
</header>
