<nav class="nav">
  <ul>
    <li class="nav__item"><a href="/services">Services</a></li>
    <li class="nav__item"><a href="/about">About</a></li>
    <li class="nav__item"><a href="/contact">Contact</a></li>
  </ul>
  <ul class="nav__social">
    <li class="nav__social-icon"><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li class="nav__social-icon"><a href="#"><i class="fa fa-instagram"></i></a></li>
    <li class="nav__social-icon"><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li class="nav__social-icon"><a href="#"><i class="fa fa-envelope"></i></a></li>
  </ul>
  <!-- <img src="https://s3-us-west-2.amazonaws.com/blackrabbitconsulting/images/logo.png"> -->
  <p>&copy Black Rabbit Consulting</p>
</nav>
