<div class="helix-wrapper">
    <div class="helix-preloader">
      <div id="helix1" class="helix">
        <div class="dotA"></div>
        <div class="dotB"></div>
      </div>
      <div id="helix2" class="helix">
        <div class="dotA"></div>
        <div class="dotB"></div>
      </div>
      <div id="helix3" class="helix">
        <div class="dotA"></div>
        <div class="dotB"></div>
      </div>
      <div id="helix4" class="helix">
        <div class="dotA"></div>
        <div class="dotB"></div>
      </div>
    </div>
    <div class="loader-title">
      <h1 class="msg">
        <span class="color2">· BLACK</span>
        <span class="color3">RABBIT ·</span>
      </h1>
    </div>
</div>