{% include 'inc/head-tag.html.twig' %}
<body>
  <div class="hero">
    <div class="hero__overlay"></div>
    <div class="hero__info">
      <img src="https://s3-us-west-2.amazonaws.com/blackrabbitconsulting/images/tempicon.svg" class="hero__logo">
      <h3>Consulting</h3>
      <h2>Black Rabbit</h2>
    </div>
    <h1>A Competitive Advantage.</h1>
    <button class="hero__btn btn">What we do</button>
  </div>
  <script src="/assets/js/app.min.js"></script>
</body>
</html>
